*.o
*.lo

freetype/Makefile*
freetype/lib
freetype/objects

quazip/Makefile*
quazip/debug
quazip/lib
quazip/objects

xpdf/Makefile*
xpdf/lib
xpdf/objects
xpdf/xpdf-3.04/Makefile
xpdf/xpdf-3.04/config.log
xpdf/xpdf-3.04/config.status
xpdf/xpdf-3.04/*/Makefile



*.swp
